<div class="about_show">
<h3>About me</h3>
  <div class="self_image">
    <div class="row">
    <section><%= image_tag 'IMG_4913.jpeg', class: 'd-block w-100 ' %></section>
    <p>ここに自己紹介を書いていく</p>
    </div>
  </div>
</div>
