<h1>Galleries#index</h1>
<h3 class="tag_list text-center">タグ一覧</h3>
<div class="tag_cloud">
    <% tag_cloud(Gallery.tag_counts_on(:tags), %w(css1 css2 css3 css4)) do |tag, css_class| %>
  <div class="tag_detail"><%= link_to tag.name, { :action => :tag, :name => tag.name }, :class => css_class %></div>
  <% end %>
</div>
<h3 class="gallery_list text-center">作品一覧</h3>
<div class="gallery">
  <% @galleries.each do |gallery| %>
    <ul>
      <li><%= image_tag gallery.image.thumb100.url.to_s, class: 'image' %></li>
      <li><%= link_to gallery.title, gallery_path(gallery.id) %></li>
      <li><%= render :partial => 'tag_list', locals: { tag_list: gallery.tag_list } %></li>
    </ul>
  <% end %>
</div>
