<h1>Galleries#index</h1>
<div>作品一覧</div>
<div class="gallery1">
  <% @galleries.each do |gallery| %>
    <%= image_tag gallery.image.thumb300.url.to_s, class: 'image' %>
    <%= link_to gallery.title, gallery_path(gallery.id) %>
    <%= render :partial => 'tag_list', locals: { tag_list: gallery.tag_list } %>
  <% end %>
</div>
