/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&display=swap');

// media queli
$pc: 1024px; // PC
$tab: 680px; // tablet
$sp: 480px;  // smartphone

@mixin pc {
    @media (max-width: ($pc)) {
      @content;
    }
  }
@mixin tab {
    @media (max-width: ($tab)) {
      @content;
    }
  }
@mixin sp {
    @media (max-width: ($sp)) {
      @content;
    }
}

//h1

h1 {
  text-align: center;
  text-decoration: underline;
}

// tags css

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

.tag_cloud {
  display: flex;
  justify-content: center;
  .tag_detail {
    margin: 10px;
  }

}

// image

// nav

$text-color: white;

nav {

.navbar-brand {
  font-size: 40px;
  color: $text-color;
}

.nav-item {
  font-size: 20px;
  color: $text-color;
}


}


//nav

//list

 li {
    list-style: none;
  }

//table

  table, th {border-style:none!important;}

//sign_in

  .sign_on {
    text-align: center;
  }

//carousel

#carousel {
  margin: 30px 30% 10px 30%;

  .carousel-inner {
     
    .carousel-item {
      width: 100%;
      max-height: 600px !important;
    }

  }

}

//intro

.intro {
  text-align: center;
}

//about_show

.about_show {
  
  h3 {
    text-align: center;
  }

  .self_image {

    section {
      width: 50%;
    }
  
  }

}

//gallery_index

.gallery {
  margin:2% 1% 2% 0;
  display: flex;
  flex-wrap: wrap;
}

//gallery_show

.gallery_show {
  text-align: center;

}




















